.logo{
    width:80px;
}

.user{
height:20px;
}


.url-nav{
    list-style: none;
    text-decoration: none !important;
}

.background-imgs{
    width:100vw;
}

header{
    position: relative;
    min-height:400px;
    min-width: 100vh
}

main, footer{
    min-height: 800px;
    min-width: 100vh
}

.footer-container{
    height: 100%;
    width: 100%;
}

.search-box, .title{
    position: absolute;
}

.search-box{
    max-width: 900px;
  border-radius: 20px;
}


#location, #Check-in, #Check-out, #guest{
    border:none;
}

#btn {
    border-radius: 250px;
  height: 40px;
  background-color: #c02d45;
  margin: 20px 0;
}

.Box{
    margin: 0;

}

.title{
    margin: 350px 0;
}

h1{
    font-weight: bold;
    font-size: 100px;
}

h4{
    width: 250px;
}



.city{
    margin:50px 0;
}



.img-city{
    width: 65px;
  height: 65px;
}

